.button {
    border-radius: var(--border-radius-less);
    background: var(--color-gray);
    color: var(--color-light-gray);
    padding: 0.75rem;
    appearance: none;
    border-width: 0;
    cursor: pointer;
    transform: scale(1);
    transition: transform ease-in-out 250ms;
    position: relative;
    overflow: hidden;

    &:hover {
        opacity: 0.8;
    }
}

.button-outline {
    border: var(--border-gray);
    background: transparent;
}

.button-icon {
    padding: 0;
    background: transparent;
}

.button-green {
    color: var(--color-black);
    background: var(--color-green);
}

.button-purple {
    color: var(--color-white);
    background: var(--color-purple);
}

.button-span {
    width: 100%;
}