.text-light {
    color: var(--color-white);
}
.text-primary {
    color: var(--color-text-primary);
}
.text-dark {
    color: var(--color-black);
}

.text-gold {
    color: var(--color-gold);
}
.text-green {
    color: var(--color-green);
}
.text-purple {
    color: var(--color-purple);
}

.background-light-gray {
    background: var(--color-light-gray);
}
.background-gray {
    background: var(--color-gray);
}
.background-dark {
    background: var(--color-dark-gray);
}
.background-black {
    background: var(--color-black);
}

