.shine {
    transition: transform ease-in-out 250ms;
    position: relative;

    &:after {
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 0.25rem;
        background: rgba(128, 128, 128, 0.205);
        position: absolute;
        transform: translateX(-0.15rem);
        transition: transform ease-in 250ms;
    }

    &:hover:after {
        transform: translateX(5rem);
    }
}