* {
    box-sizing: border-box;
}

html,body {
    padding: 0;
    margin: 0 auto;
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    background: var(--color-dark-gray);
    color: var(--color-text-primary);
}

main {
    max-width: var(--app-max-width);
    min-height: 100vh;
    margin: 0 auto;
}

p {
    margin: 0 0 0.5rem 0;    
}

p,
button,
a {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-regular);
}

h1,
h2,
h3,
h4 {
    color: var(--color-white);
}

h2,h3,h4 {
    font-weight: var(--font-medium);
    margin: 0 0 0.25rem 0;
}

h1 {
    font-size: 5rem;
    font-weight: var(--font-bold);
    margin: 0 0 0.25rem 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}
