// Util
@import "util/mixins/_";

$breakpoints: (
  'sm': (
    max-width: 576px,
  ),
  'md': (
    min-width: 577px,
    max-width: 768px,
  ),
  'lg': (
    min-width: 769px,
    max-width: 992px,
  ),
  'xl': (
    min-width: 993px,
    max-width: 1200px,
  ),
  'xxl': (
    min-width: 1201px,
  )
);

// --------------------
//       Button
//       Available classes: button, button-primary, button-gray, button-green, button-green-outline 
// --------------------
@import 'util/button';

// --------------------
//       Media
//       Available classes: Icons, images, videos.
// --------------------
@import 'util/media';

// --------------------
//       Colors
//       Background colors, text colors
// --------------------
@import 'util/media';

// --------------------
//       GRID
//       Available classes: col-[col size 1-12] OR col-{breakpoint name}-[col size]
// --------------------
@import "util/grid";

// --------------------
//      PADDING/MARGIN (rems)
//      Available classes: p, px, py, pt, pr, pb, pl
//      Example: px-{value} OR pl-{breakpoint name}-{value}
// --------------------
$spacing-values: (
  '0': 0,
  '1': 0.02 * $spacer,
  '2': 0.05 * $spacer,
  '3': 0.1 * $spacer,
  '4': 0.15 * $spacer,
  '5': 0.2 * $spacer,
  '6': 0.33 * $spacer,
);
@import "util/margin";
@import "util/padding";

// --------------------
//      FLEX
//      Available classes:
//        - flex-row
//        - flex-nowrap
//        - flex-wrap
//        - flex-wrap-reverse
//        - justify-content-start
//        - justify-content-end
//        - justify-content-center
//        - justify-content-between
//        - justify-content-around
//        - align-items-start
//        - align-items-end
//        - align-items-center
//        - align-items-between
//        - align-items-around
//      Example: align-items-between OR flex-{breakpoint name}-wrap
// --------------------
@import "util/flex";
@import "util/visibility";
@import "util/colors";
@import "util/border";
@import "util/shadow";
@import "util/effects";
